body {
  background-color: #e3f6f5;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 5%;
}

h1{
  color: #f38181;
}
h3{
  color: #3d84a8;
}
